@import "../../variables.scss";

.Search{
  position: relative;
  input{
      display: block;
      color: $admin-secondary-text-color;
      outline: none;
      padding: .75em 1.25em;
      font-size: 1em;
      width: 100%;
      background: #F8FBFF;
      border: 1px solid rgba(3, 10, 27, 0.03);
      box-sizing: border-box;
      border-radius: 999px;
  }
  button {
    cursor: pointer;
    position: absolute;
    top: .75em;
    right: 1.25em;
    background: transparent;
  }
}
