$main-bg-color: #141418;
$secondary-bg-color: #1A1B1E;
$header-bg-color: #18191C;
$container-bg-color:  linear-gradient(0deg, #1A1B1E, #1A1B1E), rgba(255, 255, 255, 0.1);

$main-gradient-color: linear-gradient(93.23deg, #953DCB -14.32%, #3ACACA 126.2%);
$secondary-gradient-color:  linear-gradient(98.13deg, rgba(46, 52, 211, 0.5) -2.14%, rgba(169, 49, 188, 0.5) 104.08%);
$bingo-gradirnt: linear-gradient(125.92deg, #1235B1 -4.57%, #0A1ED2 43.2%, #0085FF 110.65%);
$roulette-gradirnt: linear-gradient(180deg, #FF8855 77.19%, #FFAB1D 100%);

$heading-color: #FCFCFC;
$main-text-color: #646671;
$main-link-color: #646671;

$main-input-bg-color: rgba(100, 102, 113, 0.2);


$admin-main-text-color: #141517;
$admin-secondary-text-color: #646671;
$admin-main-btn-color: #1263DD;
$admin-btn-text-color: #FFFFFF;
$admin-holder-bg-color: #F8FBFF;
$admin-secondary-btn-color: linear-gradient(0deg, #CB0000, #CB0000);
$admin-secondary-bg-color: #FFC5F6;
$admin-third-bg-color: rgba(18, 99, 221, 0.2);
$admin-green-color: #20B151;
$admin-red-color: #CC0201;
$admin-navigation-bg-color: #F7F7F8;
$admin-stat-bg-color: #C925E3;




