@import "../variables.scss";

.Contacts {
	background: $main-bg-color;
	.Contacts__holder {
		background: $secondary-bg-color;
		border-radius: 10px;
		width: 100%;
		span {
			font-size: .875em;
			line-height: 150%;
			letter-spacing: 0.04em;
			color: $main-text-color;
		}
		a {
			font-size: 1.125em;
			line-height: 150%;
			letter-spacing: 0.04em;
			color: $heading-color;

		}
	}
	.Contacts__social-holder {
		background: $secondary-bg-color;
		border-radius: 10px;
		width: 100%;
		@media(min-width: 992px) {
			height: 100%;
		}
	}
}