@import "../variables.scss";

.FAQ {
	background: $main-bg-color;
	.FAQ__not-answer {
		background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(90px);
		border-radius: 20px;
		h4 {
			font-weight: 600;
			font-size: 1.125em;
			color: #E7E7E8;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			color: #D0D0D1;
		}
	}
}