@import "../variables.scss";

.Privacy {
	background: $main-bg-color;
	.Privacy__text-block {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
		backdrop-filter: blur(90px);
		border-radius: 20px;
		p {
			font-weight: 400;
		color: #D0D0D1;
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		line-height: 150%;
		}
	}
}   