@import "../../variables.scss";

.InputPublic {
	&.no-valid > input {
		border: 1px solid #D31313;
	}
	input {
		width: 100%;
		padding: 0.8em 1.2em;
		font-size: 1em;
		outline: none;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
		backdrop-filter: blur(90px);
		border-radius: 10px;
		border: 1px solid transparent;
		display: block;
		color: $main-text-color;
	}
	label {
		font-size: 0.875em;
		margin-bottom: 5px;
		display: block;
		color: $main-text-color;
	}
}
